{"swagger":"2.0","info":{"title":"Sal_test","description":"","version":"1.0"},"host":"trusty.cxchatgpt.ai","basePath":"/api/emp/crud/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/salary":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"EMPLOYEE_NO":{"type":"string","description":"EMPLOYEE_NO"},"NAME":{"type":"string","description":"NAME"},"ANNUAL_CTC":{"type":"integer","format":"int32","description":"ANNUAL_CTC"},"TOTAL_FIXED":{"type":"integer","format":"int32","description":"TOTAL_FIXED"},"ANN_VARIABLE":{"type":"integer","format":"int32","description":"ANN_VARIABLE"}}}}}},"summary":"gettingallsalaries","description":"Get Salary of employees","operationId":"Employeesalaryapi","parameters":[]}},"/addEmployee":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"error":{"type":"string","description":"error"}}},"headers":{"content-type":{"description":"content-type","type":"string"},"accept":{"description":"accept","type":"string"}}}},"summary":"Employeeaddingapi","description":"Addemployeepostapi","operationId":"Addemployeepost","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"employeeNo":{"type":"string","description":"employeeNo"},"name":{"type":"string","description":"name"},"email":{"type":"string","description":"email"},"dateOfBirth":{"type":"string","description":"dateOfBirth"},"dateOfJoin":{"type":"string","description":"dateOfJoin"},"status":{"type":"integer","description":"status"},"gender":{"type":"string","description":"gender"},"title":{"type":"string","description":"title"},"mobile":{"type":"string","description":"mobile"},"initials":{"type":"string","description":"initials"},"probationPeriod":{"type":"string","description":"probationPeriod"},"relevantExperience":{"type":"string","description":"relevantExperience"},"yearsInJob":{"type":"string","description":"yearsInJob"},"yearsInService":{"type":"string","description":"yearsInService"},"prevExperience":{"type":"string","description":"prevExperience"},"onRelevantExperience":{"type":"string","description":"onRelevantExperience"},"personalEmail":{"type":"string","description":"personalEmail"},"officialMobile":{"type":"string","description":"officialMobile"},"personalEmail2":{"type":"string","description":"personalEmail2"},"personalEmail3":{"type":"string","description":"personalEmail3"},"remarks":{"type":"string","description":"remarks"},"referenceNo":{"type":"string","description":"referenceNo"},"fatherName":{"type":"string","description":"fatherName"},"adharNo":{"type":"string","description":"adharNo"},"panNo":{"type":"string","description":"panNo"},"shift":{"type":"integer","description":"shift"},"designation":{"type":"integer","description":"designation"},"department":{"type":"integer","description":"department"},"location":{"type":"integer","description":"location"},"holiday":{"type":"integer","description":"holiday"},"emergencyNo":{"type":"string","description":"emergencyNo"},"emergencyName":{"type":"string","description":"emergencyName"},"pfNo":{"type":"string","description":"pfNo"}}}}]}},"/updateEmployee":{"put":{"responses":{"default":{"description":"default","schema":{}}},"summary":"updateaemployee","description":"update a employee","operationId":"Updateemployee","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"employeeNo":{"type":"string","description":"employeeNo"},"name":{"type":"string","description":"name"},"email":{"type":"string","description":"email"},"dateOfBirth":{"type":"string","description":"dateOfBirth"},"dateOfJoin":{"type":"string","description":"dateOfJoin"},"status":{"type":"integer","description":"status"},"gender":{"type":"string","description":"gender"},"title":{"type":"string","description":"title"},"mobile":{"type":"string","description":"mobile"},"initials":{"type":"string","description":"initials"},"probationPeriod":{"type":"string","description":"probationPeriod"},"relevantExperience":{"type":"string","description":"relevantExperience"},"yearsInJob":{"type":"string","description":"yearsInJob"},"yearsInService":{"type":"string","description":"yearsInService"},"prevExperience":{"type":"string","description":"prevExperience"},"onRelevantExperience":{"type":"string","description":"onRelevantExperience"},"personalEmail":{"type":"string","description":"personalEmail"},"officialMobile":{"type":"string","description":"officialMobile"},"personalEmail2":{"type":"string","description":"personalEmail2"},"personalEmail3":{"type":"string","description":"personalEmail3"},"remarks":{"type":"string","description":"remarks"},"referenceNo":{"type":"string","description":"referenceNo"},"fatherName":{"type":"string","description":"fatherName"},"adharNo":{"type":"string","description":"adharNo"},"panNo":{"type":"string","description":"panNo"},"shift":{"type":"integer","description":"shift"},"designation":{"type":"integer","description":"designation"},"department":{"type":"integer","description":"department"},"location":{"type":"integer","description":"location"},"holiday":{"type":"integer","description":"holiday"},"emergencyNo":{"type":"string","description":"emergencyNo"},"emergencyName":{"type":"string","description":"emergencyName"},"pfNo":{"type":"string","description":"pfNo"}}}}]}},"/address":{"put":{"responses":{"default":{"description":"default","schema":{}}},"summary":"updateemployeeaddress","description":"update employee address","operationId":"Updateemployeeaddress","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"emp_no":{"type":"string","description":"emp_no"},"name":{"type":"string","description":"name"},"address_line":{"type":"string","description":"address_line"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"pin":{"type":"string","description":"pin"},"country":{"type":"integer","description":"country"},"address_type":{"type":"string","description":"address_type"},"email":{"type":"string","description":"email"},"mobile":{"type":"string","description":"mobile"},"phone1":{"type":"string","description":"phone1"},"phone2":{"type":"string","description":"phone2"},"fax":{"type":"string","description":"fax"}}}}]}},"/addBank":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"addBankDetails","description":"adding bank details","operationId":"Addingbankdetails","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"empNo":{"type":"string","description":"empNo"},"bankAccountNumber":{"type":"string","description":"bankAccountNumber"},"accountType":{"type":"integer","description":"accountType"},"branchCode":{"type":"string","description":"branchCode"},"salaryPaymentMode":{"type":"integer","description":"salaryPaymentMode"},"ddPayableAt":{"type":"string","description":"ddPayableAt"},"nameAsPerBank":{"type":"string","description":"nameAsPerBank"},"bankName":{"type":"integer","description":"bankName"}}}}]}},"/updateBank":{"put":{"responses":{"default":{"description":"default","schema":{}}},"summary":"updatebankdetails","description":"updatebankdetails","operationId":"Updatebankdetails","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"empNo":{"type":"string","description":"empNo"},"bankAccountNumber":{"type":"string","description":"bankAccountNumber"},"accountType":{"type":"integer","description":"accountType"},"branchCode":{"type":"string","description":"branchCode"},"salaryPaymentMode":{"type":"string","description":"salaryPaymentMode"},"ddPayableAt":{"type":"string","description":"ddPayableAt"},"nameAsPerBank":{"type":"string","description":"nameAsPerBank"},"bankName":{"type":"integer","description":"bankName"}}}}]}},"/zendesk_create_user":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Create User","description":"Create a new User in Zendesk","operationId":"Create","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"first_name":{"type":"string","description":"first_name"},"last_name":{"type":"string","description":"last_name"},"email":{"type":"string","description":"email"}}}}]}},"/zendesk_delete_user":{"post":{"responses":{"default":{"description":"default","schema":{}}},"description":"Delete the User on Zendesk","summary":"Delete","operationId":"Delete","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"email":{"type":"string","description":"email"}}}}]}},"/zendesk_update_user":{"post":{"responses":{"default":{"description":"default","schema":{}}},"description":"Update the User in Zendesk","summary":"Update","operationId":"Update","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"old_email":{"type":"string","description":"old_email"},"new_email":{"type":"string","description":"new_email"}}}}]}},"/send_email":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Send Mail","description":"To send mail","operationId":"Send","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"sender_address":{"type":"string","description":"sender_address"},"to":{"type":"string","description":"to"},"subject":{"type":"string","description":"subject"},"body":{"type":"string","description":"body"},"cc":{"type":"string","description":"cc"},"bcc":{"type":"string","description":"bcc"}}}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}